
body{
    background-image: url('https://cdn.pixabay.com/photo/2021/09/16/08/56/leaves-6629581_1280.png');
    text-align: center;
    
}
      
.box {
        width: 500px;
        height: 500px;
        margin: auto;
        border-radius: 100%;
        background: indigo;
        animation: change linear forwards;
        animation-timeline: view(block 80% auto);
      }
      
@keyframes change {
        from { scale: 0; opacity: 0 }
        to { scale: 1; opacity: 1; }
      }


h1{
    font-family: 'Tangerine', serif;
    color: rgb(156, 26, 9);
    font-size: 7rem;
    text-shadow: 4px 4px 4px #57aa87;
   
}
b{
    font-family: 'Inconaolata', serif;
    color: #073d12;
    font-size: 2rem;
}
p{
    font-family: 'Dorid+Sans', serif;
    color: rgb(207, 81, 81);
    font-size: 2rem;
}
.card{
    box-sizing: content-box;
}
.card-container{
    text-align: justify;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 20px;
}